@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .custom-scrollbar {
    @apply overflow-y-auto;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    @apply w-[4px] rounded-[20px];
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-[20px] bg-black/10;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply rounded-[10px] bg-black/20;
  }

  
  /*==================== Menu Btn ====================*/
  
  .btnMenu {
    @apply relative block h-[0.5px] w-[50%] bg-primaryDark;
  }
  .btnMenu::before {
    @apply absolute -top-[600%] left-0 block h-[0.5px] w-[100%] bg-primaryDark content-[''] md:-top-[700%] lg:-top-[800%] 2xl:-top-[1000%];
  }
  .btnMenu::after {
    @apply absolute left-0 top-[600%] block h-[0.5px] w-[100%] bg-primaryDark content-[''] md:top-[700%] lg:top-[800%] 2xl:top-[1000%];
  }
  
  .btnClose {
    @apply relative flex aspect-square h-auto w-[35px] items-center justify-center rounded-full border border-solid border-primaryDark lg:w-10;
  }
  
  .btnClose::before {
    @apply absolute left-[50%] top-[50%] block h-[1px] w-[40%] origin-center -translate-x-1/2 -translate-y-1/2 rotate-45 transform bg-primaryDark content-[''];
  }
  .btnClose::after {
    @apply absolute left-[50%] top-[50%] block h-[1px] w-[40%] origin-center -translate-x-1/2 -translate-y-1/2 -rotate-45 transform bg-primaryDark content-[''];
  }
  .btnClose:hover {
    @apply border-primaryDark;
  }
  
  .btnClose::before:hover,
  .btnClose::after:hover {
    @apply bg-primaryDark;
  }

}


.slider-container {
  will-change: transform;
}

